

.chart-div{
    width: 70%;
    height: 700px;
    background: #151515;
    border-radius: 30px;
    align-items: center;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
    top: 250px;
    margin: auto;
    margin-bottom: 60px;

}