

.chart-div{
    width: 70%;
    height: 700px;
    background: #151515;
    border-radius: 30px;
    align-items: center;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
    top: 250px;
    margin: auto;
    margin-bottom: 60px;

}

/* Media queries */

@media only screen and (min-width: 400px) and (max-width: 720px) {
    .chart-div{
      height: 250px;
    }
  
}

@media only screen and (min-width: 720px) and (max-width: 1150px) {

    .chart-div{
        height: 450px;
    }
   
}
